In [49]:
#Create dictionary
pets = {'Sydney':'Bird', 'Bob':'Dog', 'Dobby':'Dog'}

In [50]:
#Print dictionary
for key, value in pets.items():
    print("Key = {}, Value = {}".format(key, value))

Key = Sydney, Value = Bird
Key = Bob, Value = Dog
Key = Dobby, Value = Dog

In [51]:
#Creat another dictionary
friends = {'Kristen':'Stamford','Lauren':'Kansas City', 'John':'Walnut Creek'}

In [52]:
#PRint new dictionary
for k, v in friends.items():
    print('{} lives in {}'.format(k,v))

Kristen lives in Stamford
Lauren lives in Kansas City
John lives in Walnut Creek

In [53]:
#Create function to print dictionary and change value of one of the keys
pets = {'Sydney':'Bird', 'Bob':'Dog', 'Dobby':'Dog'}
def pet_names(pet_list):
    print('\nPet List:')
    for key, value in pets.items():
        print("{} is a {}".format(key, value))

pet_names(pets)

pets['Dobby'] = 'Cat'

pet_names(pets)

Pet List:
Sydney is a Bird
Bob is a Dog
Dobby is a Dog

Pet List:
Sydney is a Bird
Bob is a Dog
Dobby is a Cat

In [54]:
#Add Key-Value PAir to dictionary
pets['Duke'] = 'Puppy'

In [55]:
pet_names(pets)

Pet List:
Sydney is a Bird
Bob is a Dog
Dobby is a Cat
Duke is a Puppy

In [56]:
#Remove value from dictionary
del pets['Sydney']

In [57]:
pet_names(pets)

Pet List:
Bob is a Dog
Dobby is a Cat
Duke is a Puppy

In [58]:
#Make exercise dictionary

exercises = {'push-ups':15,
            'sit-ups':40,
            'lunges':25,
            'squats':15}

In [59]:
#Write function to print out dictionary

def print_exercises(exercise_dict):
    for key, value in exercise_dict.items():
        print("I did {} {}".format(value, key))

In [60]:
# Use function to print dictionary
print_exercises(exercises)

I did 15 push-ups
I did 40 sit-ups
I did 25 lunges
I did 15 squats

In [61]:
# Modify one of the values in the dictionary
exercises['push-ups']=20

In [62]:
print_exercises(exercises)

I did 20 push-ups
I did 40 sit-ups
I did 25 lunges
I did 15 squats

In [63]:
# Add new key-value pair to dictionary
exercises['pull-ups'] = 12

In [64]:
print_exercises(exercises)

I did 20 push-ups
I did 40 sit-ups
I did 25 lunges
I did 15 squats
I did 12 pull-ups

In [65]:
# Remove a key-value pair from dictionary
del exercises['push-ups']

In [66]:
print_exercises(exercises)

I did 40 sit-ups
I did 25 lunges
I did 15 squats
I did 12 pull-ups

In [67]:
# Create new dictionary fpr dog weights
dog_weights = {'Dobby':30, 'Duke':60, 'Winston':75, 'Bob':40, 'Spot':35}

In [73]:
# Print out the keys/dog names from dictionary
def print_dog_names(dog_list):
    for key in dog_list:
        print(key)

In [74]:
print_dog_names(dog_weights)

Dobby
Duke
Winston
Bob
Spot

In [77]:
# PRint out values/dog weights from dictionary function
def print_weights(weight_list):
    for value in weight_list.values():
        print(value)

In [78]:
print_weights(dog_weights)

30
60
75
40
35

In [83]:
def print_statement(dog_list):
    print("\nHere is our list of dogs and weights!")
    for k, v in sorted(dog_list.items()):
        print("{} is {} pounds!".format(k,v))

In [84]:
print_statement(dog_weights)

Here is our list of dogs and weights!
Bob is 40 pounds!
Dobby is 30 pounds!
Duke is 60 pounds!
Spot is 35 pounds!
Winston is 75 pounds!

In [98]:
#Create dictionary of list (height in meters, height in feet) for tallest mountains
tallest_mountains = {'Mount Everest':[8848, 29029], 'K2':[8611, 28251], 'Kangchenjunga':[8586,28169], 'Lhotse':[8516,27940], 'Makalu':[8485,27838], 'Cho Oyu':[8201,26906]}

In [99]:
# Print the keys/mountain names in dictionary
for key in tallest_mountains:
    print(key)

Mount Everest
K2
Kangchenjunga
Lhotse
Makalu
Cho Oyu

In [103]:
# Print elevation in meters for each mountain
for values in tallest_mountains.values():
    print(values[0])

8848
8611
8586
8516
8485
8201

In [105]:
# Print elevation in feet for each mountain
for values in tallest_mountains.values():
    print(values[1])

29029
28251
28169
27940
27838
26906

In [107]:
for key, values in tallest_mountains.items():
    print("{} is {} meters tall, or {} feet.".format(key, values[0], values[1]))

Mount Everest is 8848 meters tall, or 29029 feet.
K2 is 8611 meters tall, or 28251 feet.
Kangchenjunga is 8586 meters tall, or 28169 feet.
Lhotse is 8516 meters tall, or 27940 feet.
Makalu is 8485 meters tall, or 27838 feet.
Cho Oyu is 8201 meters tall, or 26906 feet.

In [109]:
# Create dictionary of dictionaries, in inner dictionary include height in meters and mountain range
tallest_mountains = {'Mount Everest':{'height':8848, 'range':'Himalayas'}, 'K2':{'height':8611, 'range':'Karakoram'}, 'Kangchenjunga':{'height':8586, 'range':'Himalayas'}, 'Lhotse':{'height':8516,'range':'Himalayas'}, 'Makalu':{'height':8485,'range':'Himalayas'}, 'Cho Oyu':{'height':8201,'range':'Himalayas'}}

In [110]:
# Print out mountain names/keys
for names in tallest_mountains:
    print(names)

Mount Everest
K2
Kangchenjunga
Lhotse
Makalu
Cho Oyu

In [119]:
# Print out elevations
for key, values in tallest_mountains.items():
    print(values['height'])

8848
8611
8586
8516
8485
8201

In [120]:
# Print out mountain ranges
for key, values in tallest_mountains.items():
    print(values['range'])

Himalayas
Karakoram
Himalayas
Himalayas
Himalayas
Himalayas

In [124]:
# Print statements

for key, values in tallest_mountains.items():
    print("{} is an {}-meter tall mountain in the {} range.".format(key, values['height'], values['range']))

Mount Everest is an 8848-meter tall mountain in the Himalayas range.
K2 is an 8611-meter tall mountain in the Karakoram range.
Kangchenjunga is an 8586-meter tall mountain in the Himalayas range.
Lhotse is an 8516-meter tall mountain in the Himalayas range.
Makalu is an 8485-meter tall mountain in the Himalayas range.
Cho Oyu is an 8201-meter tall mountain in the Himalayas range.

In [1]:
def replicate(times, num):
    array = []
    if times <= 0:
        return []
    else:
        return [num] + replicate((times - 1), num)
replicate(3, 5)

[5, 5, 5]

In [ ]:
[5]

In [ ]:
[5]